	form button {
	    margin: 5px 0px;
	}
	
	textarea {
	    display: block;
	    margin-bottom: 10px;
	    width: 600px;
	}
	/*post*/
	
	.post {
	    border: 1px solid #ccc;
	    margin-top: 10px;
	}
	/*comments*/
	
	.comments-section {
	    margin-top: 10px;
	    width: 1000px;
	    margin: 150px auto;
	}
	
	.comment {
	    margin-bottom: 10px;
	}
	
	.comment .comment-name {
	    font-weight: bold;
	}
	
	.comment .comment-date {
	    font-style: italic;
	    font-size: 0.8em;
	}
	
	.comment .reply-btn,
	.edit-btn {
	    font-size: 0.8em;
	}
	
	.comment-details {
	    width: 91.5%;
	    float: right;
	}
	
	.comment-details p {
	    margin-bottom: 0px;
	}
	
	.comment .profile_pic {
	    width: 35px;
	    height: 35px;
	    margin-right: 5px;
	    border-radius: 50%;
	    float: left;
	    border: 3px solid green;
	}
	/*replies*/
	
	.reply {
	    margin-left: 30px;
	}
	
	.reply_form {
	    margin-left: 40px;
	    display: none;
	}
	
	#comment_form {
	    margin-top: 10px;
	}